.header {
  background-color: #f0e1d0;
  padding: 1.2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: #7c5834;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.8rem;
  margin: 0;
  padding: 0;
}

nav li {
  cursor: pointer;
  color: #5a4633;
  font-weight: 500;
  transition: color 0.2s;
}

nav li:hover {
  color: #a67846;
}

/* .profile-icon {
  cursor: pointer;
  font-size: 1.6rem;
  margin-left: 15px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.profile-icon:hover {
  transform: scale(1.1);
  color: #a67846; 
} */

.profile-icon a {
  color: #aba9a8;
  display: flex;
  align-items: center;
}

.profile-icon a:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}


